# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build outputs and cache
.angular/
dist/
build_output*.log

# Environment variables
.env
.env.local
.env.*.local

# Uploads (local temporary files)
uploads/
backend/uploads/


# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
